* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: darkred;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.container {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dice {
    width: 250px;
    height: 250px;
    background-color: indianred;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
    border: 4px solid white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.total {
    width: 150px;
    font-size: 5rem;
    font-weight: bolder;
    color: white;
    margin: 20px;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}