body {
    background-color: #1C203A;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-container {
    text-align: center;
    margin-bottom: 1rem;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.message-box {
    background-color: #23AF6B;
    color: white;
    text-align: center;
    border-radius: 0.25rem;
    font-size: 1.25rem;
    margin-bottom: 0;
    width: 100%;
    height: 80px;
    line-height: 80px;
    padding: 0;
}

.custom-button {
    background-color: #28A745;
    color: white;
    text-align: center;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 1.25rem;
    width: 100%;
    height: 80px;
    padding: 0;
}

.custom-button:hover {
    background-color: #218838;
}